*{
    padding:0;
    margin:0;
    box-sizing:border-box; /* isse shape me rhga bahar ni jyfa */
   
}

.box{
    background-color: red;
    width: 200px;
    height: 200px;
    

}
body{
    background-color: #ebd6fb;
}

.container{
    width:1200px;
    height: 800px;
    background-color: black;
    margin:80px auto;/* dono side se box k bagar spacing dega */
     /* box ke andar spacing dega */
     padding: 40px;
     
}

.box{
    width: 600px;
    height: 200px;
    background-color: #f0f0f0;
}
.box_container{
    display:flex;
}
.box1{
    background-color: aqua;

}
.box2{
    background-color: rgb(66, 30, 52);

}
.box3{
    background-color: rgb(38, 58, 58);

}
.box4{
    background-color: aqua;

}

.box5{
    background-color: aqua;

}
.box5{
    background-color: aqua;

}
