*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2.45minute */


 input{
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
 }

 .cards {
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
    border: solid 1px #ccc;
    margin-top: 40px;
    border-radius: 10px;
    left-padding: px;
    background-color: #f9f9f9;
}

 .profile {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid 1px #ccc;
    margin-top: 40px;
    border-radius: 50%;
    background-color: red;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}